/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
} 

.wrapper {
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: #7ed320;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

h4 {
    padding-bottom: 5px;
    color: #7ed320;
}

.input-group {
    margin-bottom: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 0;
}

.input-box {
    display: block;
}

input {
    width: 100px;
    height: 15px;
    padding: 1rem 1rem;
}

.radio {
    display: flex;
}